[Desktop Entry]
Version=1.0
Type=Application
Name=RTPlot
Exec=/home/username/RTPlot/RTPlot.sh %u
Icon=/home/username/RTPlot/res/logos/RTPlot.png
StartupNotify=true
StartupWMClass=RTPlot - by AdriTeixeHax
Categories=Graphics;Science;Plotting;
